* , *:after , *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

body{
    background: url(img/background.jpg);
    background-size: cover;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.card{
    min-width: 400px;
    background-color: white;
    border-radius: 4px;
    padding: 20px 40px 20px 40px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.caja-vuelo{
    width: 30%;
    text-transform: uppercase;
}

.francia-title{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.amsterdan-title{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.francia-title h2 , .amsterdan-title h2 {
    font-size: 40px;
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
    line-height: 40px;
    color: #3B8ACF;
}

.francia-title small , .amsterdan-title small{
    font-size: 11px;
    color: #CAC3BE;
}

.guion_bajo{
    align-self: flex-end;
    font-size: 50px;
    font-weight: 900;
    color: #D5E7F4;
}


.info-vuelo{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 40px;
}

.info-title{
    color: #CAC3BE;
    font-size: 11px;
}

.info-content{
    font-size: 15px;
    font-weight: 500;
}


.info-pasajero{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.datos-pasajero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.datos-title{
    color: #CAC3BE;
    font-size: 11px;
}

.datos-content{
    font-size: 15px;
    font-weight: 500;
}

.codigo-qr{
    width: 130px;
}

.codigo-qr img{
    width: 100%;
}
