*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(116,167,199);
background: linear-gradient(90deg, rgba(116,167,199,1) 0%, rgba(86,142,180,1) 100%);
}

.contenedor{
    width: 50%;
    
}


.header-mensaje{
    display: flex;
    height: 15px;
    background-color: #6a96d8;
    padding: 30px 10px 30px 10px;
    align-items:center;
}

.name{
    display: block;
    width: 100%;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}

.name::after{
    content: 'x';
    float: right;
    margin-left: auto;
}

.name::before{
    content: '•';
    padding: 0 10px 0 0;
}



div.barra-divisora{
    display: grid;
    grid-gap: 20px;
    width: 100%;
    
}

p.barra-divisora {
   text-transform:uppercase;
   grid-column: 1 / -1;
   display: grid;
   grid-template-columns: 1fr auto 1fr;
   align-items: center;
   color:#e5e4e4;
   font-size: 0.8rem;
}

p.barra-divisora:after, 
p.barra-divisora:before {
    display: block;
    content: '';
    height: 1px;
    border-bottom: 1px #e5e4e4 solid;
    background-color: #e5e4e4;
    margin: 5px;
}




.contenedor-chat{
    padding: 10px;
    background-color: white;
}

.contenedor-primer-mensaje{
    display: grid;
    grid-template-columns: 70%;
    margin-left: 5px;
}

.contenedor-primer-mensaje .mensaje{
    background-color: #e6edf6;
    padding: 10px;
    margin: 0px 0px 5px ;
}

.contenedor-segundo-mensaje{
    display: grid;
    grid-template-columns: 70%;
    justify-content: end;
    justify-items: end;
}

.contenedor-segundo-mensaje .mensaje{
    background-color: #e6edf6;
    padding: 10px;
    
}


.contenedor-tercer-mensaje{
    display: grid;
    grid-template-columns: 70%;
    justify-items: start;
    
}

.contenedor-tercer-mensaje .mensaje{
    background-color: #e6edf6;
    padding: 10px;
}

.contenedor-cuarto-mensaje{
    display: grid;
    grid-template-columns: 70%;
    justify-items: end;
    justify-content: end;
}

.contenedor-cuarto-mensaje .mensaje{
    padding: 10px;
    background-color:#ffc2c1;
}

.horario{
    color:#e5e4e4;
}

.escribir-mensaje{
    display: grid;
    grid-template-columns: 80% 1fr;
    align-content: center;
    align-items: center;
   margin-top: 10px;
}


.nuevo-mensaje{
    padding: 10px;
    border:none;
    border-color:transparent;
    width: 100%;
}

.send{
    display: inline;
    justify-self: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #6a96d8;
}

.barra-divisora-abajo{
    margin: 10px 0 5px 0;
    height: 2px;
    color:#e5e4e4;
    border:none;
    background-color: #e5e4e4;
}

.mensaje{
    font-weight: bold;
    font-size: 0.8rem;
}





