* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto , sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #55557E;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .buttons__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 3px;
  list-style-type: none;
}

.container .buttons__item {
  padding: 1.3em;
  background-color: #363650;
  fill: #55557E;
  -webkit-transition: ease-in-out .3s all;
  transition: ease-in-out .3s all;
}

.container .buttons__item:hover {
  cursor: pointer;
  background-color: #4b4b6f;
}

.container .buttons__item--active {
  -webkit-box-shadow: 0px 0px 5px 0px #0d0d13;
          box-shadow: 0px 0px 5px 0px #0d0d13;
  background-color: #0d0d13;
  z-index: 1;
  fill: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container .buttons__item--active:hover {
  cursor: pointer;
  background-color: #4b4b6f;
}

.container .order {
  display: -ms-grid;
  display: grid;
  background-color: #fff;
  width: 90%;
  margin: 2em auto;
  overflow: hidden;
  border-radius: 5px;
}

.container .order__header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/food.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/food.jpg);
  background-size: cover;
  background-position: center;
  padding: 4em 1em 1em 1em;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.container .order__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: .8em;
  fill: #fff;
  position: relative;
  right: .8em;
  margin-top: .5em;
}

.container .order .food {
  background-color: rgba(37, 37, 37, 0.3);
  color: rgba(37, 37, 37, 0.3);
}

.container .order .food__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 1px;
}

.container .order .food__item {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8em;
  font-weight: 400;
  background-color: #fff;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.container .order .food__item:hover {
  color: #252525;
  font-size: 1.1em;
}
/*# sourceMappingURL=styles.css.map */