*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto , sans-serif;
}


//Colores

$orange : #e37b62;
$gray : #484956;
$yellow : #f2ce97; 


body{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: $yellow;   

    @media screen and (max-width:1000px) {
        justify-content: initial;
        align-content: initial;;
    }
}


.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #fff;
    max-width: 80vw;
    border-radius: 5px;

    @media screen and (max-width: 1000px){
            grid-template-columns: 1fr;
            max-width: 100vw;
            position: relative;
            top: 0;
    }


    .info{
        background-color: $orange;
        color: #fff;
        background-color: $gray;
        padding:2em;
        display: flex;
        flex-direction: column;


        @media screen and (max-width:1000px) {
                flex-direction: row;
        }

        &__title_container{
            flex: 1;

            &::after{
                content: '';
                width: 2.5em;
                height: 5px;
                background-color: $orange;
                display: block;
                margin-top: .5em;
            }
        }

        &__title{
            font-weight: 500;
        }

        &__subtitle{
            font-weight: 300;
        }



        .author{
            display: flex;
            align-items: center;

            @media screen and (max-width:1000px) {
                flex-direction: column;
        }

            &__img{
                width: 3em;
                height: 3em;
                margin-right: 1em;
                border-radius: 50%;
                box-shadow: 0px 0px 10px 0px rgba(#000, $alpha: .25  );
            }
        }
    }


    .note{

        display: flex;
        flex-direction: column;
    

        &__text_container{
            flex: 1;
            padding: 2em;
            display: grid;
            grid-gap: 3em;
            letter-spacing: .5px;
            line-height: 1.4em;
        }

        &__text:first-child::first-letter{
            font-size: 2em;
        }


        &__footer{
            display: flex;
            padding: 2em;
            align-items: center;
            justify-content: space-between;
            font-size: .8em;
            border-top: 5px solid rgba(#000, $alpha: .02 );
        }

        &__media{
            color: rgba(#000, $alpha: .25  );
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &::after{
                content: url(../img/more.svg);
                display: block;
                margin-top: .5em;
                margin-left: 1em;
            }


            &::before{
                content: url(../img/comment.svg);
                margin-right: .3em;
            }


            
            
        }
    }
}