*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body{
    background-color: #16a085;
    height: 100vh;
}

.contenedor{
    width: 40%;
    background-color: white;
    position: relative;
    left: 50%;
    top: 40%;
    height: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 2px 4px 12px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 4px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 12px 0px rgba(0,0,0,0.75);
    padding: 3rem;
    background-image: url(img/bicycle.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-origin: padding-box;
    background-position-y: 180px;
    border-radius: 4px;
}

.header{
    overflow: hidden;
    margin-bottom: 1rem;
 
}

.title{
    float: left;
    font-weight: 700;
    margin-top: 5px;
}



.circuloafuera{
    float: right;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 1px rgb(117, 117, 117) solid;
    position: relative;
    margin: 5px 5px 5px 0;
}

.circuloafuera:hover{
    animation: fade 1s ease forwards;
}

@keyframes fade{
    from{
        box-shadow: 0 0 0 0px #cecece;
    }to{
        box-shadow: 0 0 0 5px #adadad;
    }
}


.circuloafuera img{
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.textogris{
    margin-bottom: 3rem;
    color: #acacad;
}

.orden{
    overflow: hidden;
    margin-bottom: 2rem;
}

.producto{
    float: left;
    text-transform: capitalize;
}

.precio{
    margin-left: auto;
    float: right;
    font-weight: bolder;
}

.total{
    text-transform: uppercase;
    font-weight: bolder;
}

.producto , 
span.total {
    color: #5c5c5c;
}








